*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Work sans",sans-serif;
}
 
:root{
    --White: hsl(0, 100%, 100%);
    --Purple-100: hsl(275, 100%, 97%);
    --Purple-600: hsl(292, 16%, 49%);
    --Purple-950: hsl(292, 42%, 14%);

}
body{
   
    font-size: 16px;
    line-height: 1.5;
    background-color:var(--Purple-100);
    background-image: url(./assets/images/background-pattern-desktop.svg) ;
    background-position: top;
    background-size: 100%;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    padding-bottom: 16px;
    padding-top: 16px;
}
.container {
    background-color:var(--White) ;
    width: 100%;
    max-width: 600px;
    padding: 30px;
    border-radius: 15px;
    color: hsl(292, 42%, 14%);
    display: block;
    box-shadow: 0px 30px 100px -50px black;

}
.faq-header{
    display: block;
    gap: 10px;
    padding-left: 10px;
}
.faq-header h1{
    font-weight: 700;
}
.acc-content{
    padding-top: 1.5rem;
}
.acc-items{

   

}
.acc-items button{
    
    border: none;
}


@media(max-width:768px){
    .faq-header h1{
        font-size: 2.2rem;
    }
    .container{
        padding: 1.2rem;
        max-width: 90%;
    }
    .faq-header{
        font-size: 1rem;
    }
}
@media(max-width:480px){
    body{
        background-image: url(./assets/images/background-pattern-mobile.svg);
    }
    .container{
        padding: 1rem;
        border-radius:8px ;
    }
    .faq-header h1{
        font-size: 1.8rem;
    }
    .faq-header{
        font-size: 0.85rem;
        flex-wrap: nowrap;
        gap:0.5rem;
    }
    .faq-header img{
        width: 18px;
        height: 18px;
    }
    .acc-content{
        font-size: 0.85rem;
    }
}
.attribution {
     font-size: 0.6875rem; 
     text-align: center;
 }
.attribution a {
     color: hsl(228, 45%, 44%); 
}
  