*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(124, 150, 81, 0.747);
    padding: 32px;
    color: rgb(35, 38, 44);

}
.main{
    width: 100%;
   max-width: 550px;
    text-align: center;
}
.welcm-container{
    background: rgba(255, 255, 255, 0.288);
    padding: 80px;
    border-radius: 25px;
    border: 1px solid rgba(255, 225, 255, 0.233);
    box-shadow: 0 0 20px rgba(22, 20, 20, 0.466);
}

.welcm h1{
    margin-bottom: 2rem;
    
}
.welcm-container p{
    font-size: 1rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
}
#id-shapes{
    padding: 1rem;
    border: none;
    border-radius: 10cqb;
    margin-bottom: 2rem;
    cursor: pointer;
    width: 50%;
}
#id-shapes option{
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;

}
label{
    font-size: 2rex;
}
input{
    padding: 0.5rex;
    border: none;
    border-radius: 25px;
}
button{
    border:  1px solid rgba(255, 225, 255, 0.233);
    padding: 20px;
    border-radius: 25px;
    font-size: 1.5rem;
    box-shadow:  rgba(22, 20, 20, 0.466);
    background-color: #ecb54fbd;
    cursor: pointer;
    margin-top: 2rem;
    font-family: 'Times New Roman', Times, serif;

    
}
button:hover{
    box-shadow: 0 0 20px;
    transform: translateY(3px)
}
